[Desktop Entry]
Comment=ver 2 for theme
Name=Main_2
X-KDE-PluginInfo-Author=Khoi Trinh
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=khoidinhtrinh@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 3+
X-KDE-PluginInfo-Name=Main_Theme_2
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/khoitd1997
X-KDE-ServiceTypes=Plasma/LookAndFeel
